
.gitignore
.gitlab-ci.yml
.env-prod-assessment
.env-prod-enrollment
.env-prod-assessment-example
.env-prod-enrollment-example
.env-prod
.env-prod-example
.dockerignore
.byebug_history
.prettierrc.js
.rubocop.yml
.eslintrc.js
.browserslistrc
.ruby-version
.travis.yml

.git
.github
.bundle
node_modules
log
tmp
test
coverage
storage
public/packs
public/packs-test

goals.txt
docker-compose.prod.yml
docker-compose.yml
yarn-error.log
CHANGELOG.md
README.md
API.md
dump.rdb
gemsurance_report.html
nginx.conf

**/.DS_Store
