# OS X
.DS_Store

node_modules
.git
.gitignore
.gitlab-ci.yml
.github
log
tmp
test
coverage
.env-prod
.env-prod-example
.dockerignore
goals.txt
README.md
.byebug_history
docker-compose.prod.yml
docker-compose.yml
yarn-error.log
.ruby-version
.travis.yml
CHANGELOG.md
.bundle
.env-prod-assessment
.env-prod-enrollment
.env-prod-assessment-example
.env-prod-enrollment-example
dump.rdb
gemsurance_report.html
nginx.conf
public/packs
public/packs-test
