# This file contains an example of what an production environment variable
# file might look like. Do not use this file in real production environments!

DISEASE_TRAKKER_DATABASE_PASSWORD=foo
DISEASE_TRAKKER_DATABASE_USERNAME=disease_trakker
DISEASE_TRAKKER_DATABASE_HOST=mysql-assessment
DISEASE_TRAKKER_DATABASE_NAME=disease_trakker_production <must match MYSQL_DATABASE>

MYSQL_USER=disease_trakker
MYSQL_PASSWORD=foo
MYSQL_ROOT_PASSWORD=foo
MYSQL_DATABASE=disease_trakker_production

SECRET_KEY_BASE=<result of running `rake secret`>

SARA_ALERT_REPORT_MODE=true

SHOW_DEMO_WARNING=true
