*.pdf filter=lfs diff=lfs merge=lfs -text
test/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
public/**/*.xlsx filter=lfs diff=lfs merge=lfs -text
*.rb diff=ruby
*.rake diff=ruby
user-materials/**/* filter=lfs diff=lfs merge=lfs -text
