<div class="container">
  <div class="row">
    <div class="col-24 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-md-15 col-lg-12 col-xl-10 mx-auto">
          <div class="pb-4">
            <%= render partial: 'devise/shared/logo' %>
          </div>
          <div class="card shadow shadow-sm card-square">
            <div class="card-header">
              <h3 class="mb-0">Update Password</h3>
            </div>
            <div class="card-body">
              <p>Password must include characters from at least three groups (lower case, upper case, numbers, special characters), and be ten characters or more in length. Passwords can not be re-used.</p>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render 'devise/shared/error_messages', resource: resource %>
                <div class="form-group">
                  <label>Current (or Temporary) Password</label>
                  <input type="password" autocomplete="current-password" class="form-control form-control-lg rounded-0" name="user[current_password]" id="user_password" required="" aria-label="Current Password" />
                </div>
                <div class="form-group">
                  <label>New Password</label>
                  <input type="password" autocomplete="new-password" class="form-control form-control-lg rounded-0" name="user[password]" id="user_password" required="" aria-label="New Password" />
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password" autocomplete="new-password" class="form-control form-control-lg rounded-0" name="user[password_confirmation]" id="user_password" required="" aria-label="Confirm Password" />
                </div>
                <button type="submit" class="btn btn-outline-primary btn-lg float-right btn-square px-5" id="login">Update</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
