<% content_for :body do %>
  <% @comment.each_line do |line| %>
    <p><%= line %></p>
  <% end %>
<% end %>

<% content_for :footer do %>
  <p>This notification was sent by the Sara Alert system. If you wish to stop receiving these notifications or believe that it was a mistake, please contact the help desk.</p>
<% end %>
