<% content_for :body do %>
  <% if @downloads.empty? %>
    <p>
      Your request for export of &quot;<b><%= @export_label %></b>&quot; was received but no monitorees or monitoree data matched the selected export criteria. Therefore, no export file is available for download.
    </p>
  <% else %>
    <p>
      Your requested export of &quot;<b><%= @export_label %></b>&quot; is now ready.
    </p>
    Please note that this export link is one-time use only. The system will delete a stored export file either once you've downloaded that file or whenever stored files are purged on Saturdays, whichever comes first. Once the file is deleted, it will no longer be accessible.
    These downloads will be invalid if you attempt another export of this type before retrieving the file(s). Exports will not work if forwarded to another user. You must be logged into Sara Alert to access exports.
    <br />
    <% @downloads.each do |download| %>
      <%= render partial: 'main_mailer/responsive_button', locals: { link: rails_storage_proxy_url(download.export_files.first), text: "Click here to download #{download[:filename]}" } %>
      <br />
    <% end %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <p>
    This notification was sent by the Sara Alert system. If you wish to stop receiving these notifications or believe that it was a mistake, please contact the help desk.
  </p>
<% end %>
