<% content_for :body do %>
  <p>
    Your requested export of &quot;
    <% if @export_type == 'csv_exposure' %>
      <b>Line list CSV (exposure)</b>
    <% elsif @export_type == 'csv_isolation' %>
      <b>Line list CSV (isolation)</b>
    <% elsif @export_type == 'sara_format_exposure' %>
      <b>Sara Alert Format (exposure)</b>
    <% elsif @export_type == 'sara_format_isolation' %>
      <b>Sara Alert Format (isolation)</b>
    <% elsif @export_type == 'full_history_all' %>
      <b>Excel Export For All Monitorees</b>
    <% elsif @export_type == 'full_history_purgeable' %>
      <b>Excel Export For Purge-Eligible Monitorees</b>
    <% else %>
      <b>Default</b>
    <% end %>
    &quot; is now ready.
  </p>
  <p>Please note that this is one-time use only and is only valid for 24 hours. The system will delete an export once you've downloaded them or a 24 hour period has elapsed. These downloads will be invalid if you attempt another export of this type before retrieving the file. These downloads will not work if forwarded to another user. You must be logged into Sara Alert to access exports.</p>
  <% @lookups.each do |lookup| %>
    <%= render partial: 'main_mailer/responsive_button', locals: {link: export_download_url(lookup: lookup[:lookup]) , text: "Click here to download #{lookup[:filename]}"} %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <p>This notification was sent by the Sara Alert system. If you wish to stop receiving these notifications or believe that it was a mistake, please contact the help desk.</p>
<% end %>
