<html>

  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <h1>Welcome to the SARA Alert System!</h1>
    <p>Your initial login credentials are</p>
    <p>
      Username: <%= @user.email %><br/>
      Password: <%= @password %>
    </p>
    <p>Please log in to <a href="<%= root_url %>">the Sara Alert application</a> to change your password as soon as possible.</p>
  </body>

</html>
