<div class="mx-2 pb-4">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user">
        Configure Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="data-tab" data-toggle="tab" href="#data">
        Configure Data Elements
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="card card-square tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
      <div class="p-3">
        user configure (react component?)
      </div>
    </div>

    <div class="card card-square tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">
      <div class="p-3">
        data configure  (react component?)
      </div>
    </div>

  </div>

</div>