<!DOCTYPE html>
<html>
  <%= render 'layouts/html_head' %>
  <body id="sara-alert-body">
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%- if flash[:notice].present? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end -%>
      <%= yield %>
    </div>
    <div id="toast-mount-point">
    </div>
  </body>
</html>
