<!DOCTYPE html>
<html lang='en-US'>
  <%= render 'layouts/html_head' %>
  <body id="sara-alert-body">
    <%= react_component('layout/Header', {
                          report_mode: ADMIN_OPTIONS['report_mode'],
                          version: ADMIN_OPTIONS['version'],
                          show_demo_warning: ENV['SHOW_DEMO_WARNING'].present?,
                          current_user: !current_user.nil? ? {
                            email: current_user&.email,
                            is_usa_admin: current_user&.usa_admin?,
                            can_see_enroller_dashboard_tab: current_user&.can_see_enroller_dashboard_tab?,
                            can_see_monitoring_dashboards_tab: current_user&.can_see_monitoring_dashboards_tab?,
                            can_see_analytics_tab: current_user&.can_see_analytics_tab?,
                            can_see_admin_panel_tab: current_user&.can_see_admin_panel_tab?,
                            is_admin_only: current_user&.admin?
                          } : nil
                        }) %>
    <div class="container-fluid">
      <%- if flash[:notice].present? %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end -%>
      <%= yield %>
    </div>
    <div id="toast-mount-point">
    </div>
  </body>
</html>
