---
http_interactions:
- request:
    method: get
    uri: https://studio.twilio.com/v1/Flows/<TWILLIO_STUDIO_FLOW>/Executions/FNc2b09bcf7ecaca4e33db739422281fcc/Context
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUM1ZGE3NDRhODdmNTM0MTgyZWNlZGJjMTljNDcyYTA2YjpmYTBmMTVlZjY1ZDA2YjliZTQzYzBkOTkyZTNkY2RkMw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQa6a78b64edf24440a525cb8bd68cddaf
      Twilio-Request-Duration:
      - '0.030'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - studio.twilio.com
    body:
      encoding: UTF-8
      string: '{"url": "https://studio.twilio.com/v1/Flows/<TWILLIO_STUDIO_FLOW>/Executions/FNc2b09bcf7ecaca4e33db739422281fcc/Context",
        "execution_sid": "FNc2b09bcf7ecaca4e33db739422281fcc", "flow_sid": "<TWILLIO_STUDIO_FLOW>",
        "context": {"widgets": {"OptOutTypeNotBlank": {}, "PostOptOutInfoSTOP": {"body":
        "", "status_code": 200, "content_type": "text/plain"}}, "trigger": {"message":
        {"Body": "STOP", "MessageSid": "SMc866b5bd01c0d18ab53010f7a7dbc189", "FromZip":
        "03301", "OptOutType": "STOP", "SmsStatus": "received", "SmsMessageSid": "SMc866b5bd01c0d18ab53010f7a7dbc189",
        "AccountSid": "<TWILLIO_API_ACCOUNT>", "MessagingServiceSid": "<TWILLIO_MESSAGING_SERVICE_SID>",
        "FromCity": "CONCORD", "ApiVersion": "2010-04-01", "To": "<TWILLIO_SENDING_NUMBER>",
        "From": "+16035555555", "NumMedia": "0", "ToZip": "38646", "ToCountry": "US",
        "ToState": "MS", "NumSegments": "1", "SmsSid": "SMc866b5bd01c0d18ab53010f7a7dbc189",
        "ToCity": "MARKS", "FromState": "NH", "FromCountry": "US"}}, "contact": {"channel":
        {"address": "+16035555555"}}, "flow": {"flow_sid": "<TWILLIO_STUDIO_FLOW>",
        "channel": {"address": "<TWILLIO_SENDING_NUMBER>"}, "sid": "FNc2b09bcf7ecaca4e33db739422281fcc"}},
        "account_sid": "<TWILLIO_API_ACCOUNT>"}'
  recorded_at: Tue, 26 Jan 2021 22:09:01 GMT
recorded_with: VCR 6.0.0
