<%= render partial: "layouts/breadcrumb", locals: { jurisdiction_path: current_user.jurisdiction_path, crumbs: [ {value: "Return to Exposure Dashboard", href: '/'}, {value: "Import", href: nil} ] } %>

<% if current_user.can_import? %>
  <div class="card mx-2 mt-3 mb-4 card-square">
    <h5 class="card-header">Import Patients</h5>
    <%= react_component("import/Import", { patients: @patients, authenticity_token: form_authenticity_token }) %>
  </div>
<% end %>
