<%= render partial: "layouts/breadcrumb", locals: { jurisdiction_path: current_user.jurisdiction_path, crumbs: [ {value: "Dashboard", href: nil} ] } %>

<%= link_to 'Enroll New Monitoree', {controller: "patients", action: "new"}, class: "btn btn-lg btn-primary btn-square ml-2 mb-3" %>

<div class="mx-2">
  <div class="card card-square">
    <h5 class="card-header">Enrolled Monitorees</h5>
    <div class="m-3">
      <%= render partial: "patients", locals: { patients: current_user.enrolled_patients } %>
    </div>
  </div>
</div>

<%= react_component("dashboard/EnrollerAnalytics", { current_user: current_user, stats: @stats }) %>

<div class="pb-4"></div>