<div class="container-fluid">
  <div class="row">
    <div class="col-24 d-flex flex-column justify-content-center">
      <%= render partial: 'errors/logo' %>
      <div class="col-md-15 col-lg-12 col-xl-10 mx-auto">
        <div class="card">
          <div class="card-header bg-primary">
            <h4 class="text-center text-white m-0">Monitoree Unavailable</h4>
          </div>
          <div class="card-body">
            <h6><b>The monitoree with Sara Alert ID <%= params[:id] %> is not available. This may be because:</b></h6>
            <ul class="my-3">
              <li>The monitoree's Sara Alert ID is invalid</li>
              <li>The monitoree has been removed from Sara Alert</li>
              <li>The monitoree has completed monitoring and is no longer active in Sara Alert</li>
              <li>The monitoree has been transferred to a jurisdiction which you do not have permission to view</li>
            </ul>
            <% if ADMIN_OPTIONS['help_links']['user_guides'].present? || ADMIN_OPTIONS['help_links']['contact_us'].present? %> 
              <% if ADMIN_OPTIONS['help_links']['user_guides'].present? %>
                <div class="my-1">
                  If you still need help, visit our <a href="<%= ADMIN_OPTIONS['help_links']['user_guides'] %>" target="_blank">user guide help pages</a>.
                </div>
              <% end %>
              <% if ADMIN_OPTIONS['help_links']['contact_us'].present? %>
                <div>You may <a href="<%= ADMIN_OPTIONS['help_links']['contact_us'] %>" target="_blank">contact us</a> if you need technical assistance.</div>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary btn-sm float-right" href="/">
              <div class="mx-3">Go to Dashboard</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
