<%= render partial: 'layouts/breadcrumb', locals: { jurisdiction_path: current_user.jurisdiction_path, crumbs: [{ value: 'Return to Exposure Dashboard', href: '/' }, { value: 'Enroll New Monitoree', href: nil }] } %>

<%= react_component('enrollment/Enrollment', {
                      current_user: current_user,
                      patient: @patient,
                      parent_id: @parent_id,
                      propagated_fields: {},
                      edit_mode: false,
                      authenticity_token: form_authenticity_token,
                      can_add_group: current_user.can_create_patient?,
                      has_dependents: false,
                      jurisdiction_paths: Hash[current_user.jurisdiction.subtree.pluck(:id, :path)],
                      assigned_users: @patient.jurisdiction.assigned_users,
                      race_options: ValidationHelper::RACE_OPTIONS,
                      first_positive_lab: nil,
                      symptomatic_assessments_exist: false
                    }) %>

<div class="pb-4"></div>
