<div class="container-fluid">
  <div class="row">
    <div class="col-24 d-flex flex-column justify-content-center">
      <%= render partial: 'logo' %>
      <div class="row">
        <div class="mx-auto">
          <h3>Sara Alert has experienced an internal server error (500).</h3>
          <p>Our development team has been notified and will investigate as soon as possible.</p>
        </div>
      </div>
      <%= render partial: 'errors/return_home' %>
    </div>
  </div>
</div>
