<div class="container-fluid">
  <div class="row">
    <div class="col-24 d-flex flex-column justify-content-center">
      <%= render partial: 'logo' %>
      <div class="row">
        <div class="mx-auto">
          <h3>The page you requested was not found (404).</h3>
        </div>
      </div>
      <%= render partial: 'errors/return_home' %>
    </div>
  </div>
</div>
