<div class="container-fluid">
  <div class="row">
    <div class="col-24 d-flex flex-column justify-content-center">
      <%= render partial: 'logo' %>
      <div class="row">
        <div class="mx-auto">
          <h3>The request made was unprocessable. Please do not repeat the request without modification (422).</h3>
        </div>
      </div>
      <%= render partial: 'return_home' %>
    </div>
  </div>
</div>
