<div class="container">

  <h1>Patients Who Have Reported Symptoms</h1>

  <%= render partial: "patients", locals: { patients: @symptomatic_patients } %>

  <%# TODO: Make the reporting timeout configurable %>
  <h1>Patients Who Have Not Reported in Last 5 Minutes</h1>

  <%= render partial: "patients", locals: { patients: @non_reporting_patients } %>

  <h1>Compliant Patients With no Reported Symptoms</h1>

  <%= render partial: "patients", locals: { patients: @asymptomatic_patients } %>

</div>
