<div class="container">

  <h3 class="pb-4">Patients Who Have Reported Symptoms</h3>

  <%= render partial: "patients", locals: { patients: @symptomatic_patients } %>

  <%# TODO: Make the reporting timeout configurable %>
  <h3 class="pb-4">Patients Who Have Not Reported in Last 2 Minutes</h3>

  <%= render partial: "patients", locals: { patients: @non_reporting_patients } %>

  <h3 class="pb-4">Compliant Patients With no Reported Symptoms</h3>

  <%= render partial: "patients", locals: { patients: @asymptomatic_patients } %>

</div>
