<html>

  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <h1>This is your reminder to complete your daily report</h1>
    <p>Please provide your daily report <a href="<%= new_patient_assessment_jurisdiction_url(@patient.submission_token, @jurisdiction_unique_id) %>">using our online reporting tool</a>.</p>
  </body>

</html>
