<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>This is your reminder to complete your daily assessment.</h1>
      <p><%=root_url%>patients/<%=@patient.id%>/assessments/new</p>
   </body>
</html>