<% content_for :preheader do %>
  <%= t('assessments.html.email.closed.header', locale: @lang) %>
<% end %>

<% content_for :body do %>
  <p><%= @contents %></p>
<% end %>

<% content_for :footer do %>
  <p>
    <%= t('assessments.html.email.shared.footer', locale: @lang) %>
  </p>
<% end %>
