<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Welcome to the DiseaseTrakker System</h1>
      <h2>Use the link below to complete your daily assessments.</h2>
      <p>http://localhost:3000/patients/<%= @patient.id %>/assessments/new</p>
      
   </body>
</html>