<html>

  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <h1>Welcome to the  System</h1>
    <p>Please provide your daily assessment <a href="<%= new_patient_assessment_url(@patient.submission_token) %>">using our online assessment tool</a>.</p>
  </body>

</html>
