.dashboard {
  .nav-tabs {
    .nav-link {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
  
      &:hover {
        border-color:#b5b5b5;
        background-color:white;
      }
  
      .small-tab {
        display: none !important;
      }
    }
  
    .nav-item:last-child {
      margin-left: auto;
    }
  }
}

/* styling for global dashboard navbar on smaller screens only */
@media only screen and (max-width : 1082px) {
  .global-dashboard {
    .nav-tabs {
      .nav-link {
        width: 230px;
        border: 1px #dee2e6 solid;
        margin-bottom: -.05px;

        &:hover {
          border-color:#606060;
        }

        &.active {
          border: 1px #606060 solid !important;
        }

        .badge {
          float: right !important
        }
      }
    }

    .nav-item:last-child {
      margin-left: 0px !important;
    }
  }
}

/* styling for exposure dashboard navbar on smaller screens only */
@media only screen and (max-width : 1310px) {
  .exposure-dashboard {
    .nav-tabs {
      .nav-link {
        width: 230px;
        border: 1px #dee2e6 solid;
        margin-bottom: -.05px;

        &:hover {
          border-color:#606060;
        }

        &.active {
          border: 1px #606060 solid !important;
        }

        .badge {
          float: right !important;
        }
      }
    }

    .nav-item:last-child {
      margin-left: 0px !important;
    }
  }
}

/* styling for isolation dashboard navbar on smaller screens only */
@media only screen and (max-width : 1240px) {
  .isolation-dashboard {
    .nav-tabs {
      .nav-link {
        width: 230px;
        border: 1px #dee2e6 solid;
        margin-bottom: -.05px;

        &:hover {
          border-color:#606060;
        }

        &.active {
          border: 1px #606060 solid !important;
        }

        .badge {
          float: right !important
        }

        .small-tab {
          display: inline !important;
        }

        .large-tab {
          display: none !important;
        }
      }
    }

    .nav-item:last-child {
      margin-left: 0px !important;
    }
  }
}

.custom-export-filters {
  margin: 0.375rem;
  padding: 0.125rem 0 0.25rem;
  border-top: 1px solid #343a40;
  border-bottom: 1px solid #343a40;
}

.custom-export-filter-text {
  display: block;
  margin-bottom: 0;
  padding: 0.0625rem 0.125rem 0.125rem;
  &:not(:first-child) {
    border-top: 1px solid #dee2e6;
  }
}

.custom-export-btn {
  outline: none;
  box-shadow: none;
}

.custom-export-btn-disabled {
  outline: none;
  box-shadow: none;
  pointer-events: none;
}
