.tooltip-container {
  width: 300px;
}

.__react_component_tooltip {
  // Specifying a max-width here prevents Safari
  // From drawing any parent containers larger than 300px
  max-width: 350px;
}

.character-limit-text {
  width: 100%;
  font-size: 12px;
  color: dimgray;
  font-style: italic;
  text-align: right;
}

.header-brand-text {
  font-size: 20px !important;
}

.nav-version {
  font-size: 50%;
}

// Use this class to correctly word-break elements across all browsers
.wrap-words {
  // This somewhat hacky solution causes things to wrap on all browsers
  // Not all browsers have these defined. The browser will select the ones it has defined
  // This has been tested on Safari, IE11, MSEdge, Chrome, and Firefox and it behaves as expected
  word-break: break-all;
  word-break: break-word;
}
