<div class="px-4">
  <table id="patients_table_<%= type %>" class="table table-sm table-striped table-bordered table-hover" style="width:100%">
    <thead>
      <tr>
        <th class="DataTable-table-header">Monitoree</th>
        <th class="DataTable-table-header">Assigned Jurisdiction</th>
        <th class="DataTable-table-header">State&#47;Local ID</th>
        <th class="DataTable-table-header">Sex</th>
        <th class="DataTable-table-header">Date of Birth</th>
        <th class="DataTable-table-header">End of Monitoring</th>
        <th class="DataTable-table-header">Risk Level</th>
        <th class="DataTable-table-header">Monitoring Plan</th>
        <% if type == 'transferred_patients' %><th class="DataTable-table-header">Transferred At</th><% else %><th class="DataTable-table-header">Latest Report</th><% end %>
      </tr>
    </thead>
  </table>
</div>
<script>
  $(document).ready(function() {
    $('#patients_table_<%= type %>').DataTable({
      "serverSide": true,
      "ajax": "public_health/<%= type %>",
      "columns": [
        { "data": "linelist.name",
          "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            if (<%= p_links %>) {
              $(nTd).html("<a href='patients/"+oData.linelist.name.id+"'>"+oData.linelist.name.name+"</a>");
            } else {
              $(nTd).html(oData.linelist.name.name);
            }
          }
        },
        { "data": "linelist.jurisdiction" },
        { "data": "linelist.state_local_id" },
        { "data": "linelist.sex" },
        { "data": "linelist.dob" },
        { "data": "linelist.end_of_monitoring" },
        { "data": "linelist.risk_level" },
        { "data": "linelist.monitoring_plan" },
        <% if type == 'transferred_patients' %>{ "data": "linelist.transferred" }<% else %>{ "data": "linelist.latest_report" }<% end %>
      ],
      "dom": "<'row'<'col-sm-24 col-md-12'l><'col-sm-24 col-md-12'f>>" + "<'row'<'col-sm-24'tr>>" + "<'row'<'col-sm-24 col-md-10'><'col-sm-24 col-md-14'p>>"
    });
  });
</script>
