.modal-af {
  width: 1100px !important;
  max-width: 1100px !important;
}

.tooltip-af {
  font-size: 1.5em;;
}

.advanced-filter-dropdown {
  max-width: 250px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.advanced-filter-select {
  padding-right: 25px;
  width: auto;
}

.advanced-filter-search-input {
  display: flex;
}

.advanced-filter-date-input {
  width: 175px !important;
}

.advanced-filter-operator-input {
  width: 120px !important;
}

.advanced-filter-when-input {
  width: 130px !important;
}

.advanced-filter-number-input {
  width: 70px !important;
}

.advanced-filter-unit-input {
  width: 110px !important;
}

.advanced-filter-number-options {
  width: 220px !important;
}

.advanced-filter-date-options {
  width: 100px !important;
}

.advanced-filter-relative-options {
  width: 120px !important;
}
