.modal-af {
  width: 1100px !important;
  max-width: 1100px !important;
}

.tooltip-af {
  font-size: 1.5em;;
}

.advanced-filter-dropdown {
  max-width: 250px !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.advanced-filter-date-input {
  width: 175px !important;
}

.advanced-filter-when-input {
  width: 150px !important;
}

.advanced-filter-number-input {
  width: 75px !important;
}

.advanced-filter-unit-input {
  width: 100px !important;
}

.advanced-filter-number-options {
  width: 220px !important;
}

.advanced-filter-date-options {
  width: 100px !important;
}

.advanced-filter-relative-options {
  width: 120px !important;
}
