@import 'bootstrap';
@import '~bootstrap/scss/bootstrap';
@import '~datatables.net-bs4/css/dataTables.bootstrap4';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'login';
@import 'layout';
@import 'recharts';
@import 'datatables';
@import 'datepicker';
@import 'toastify';
@import 'analytics';
@import 'devise_authy';
