/* COLORS */
$brand-primary: #226891;
$brand-danger: #AB4642;
$brand-warning: #8B6C38;
$brand-success: #3A7539;
$blue: #226891 !default;
$yellow: #F0F020 !default;
$background: #f5f5f5;
$section-border: #ddd;
$jurisdiction-box: #e9ecef;
$follow-up-box: #fff2b6;
$follow-up-box-border: #f6d43a;
$table-row-success: #d7e6b8;
$table-row-caution: #ffebbf;
$table-row-warning: #f5b4ab;
$table-row-secondary: #e2e2e2;

/* GRID SYSTEM */
$grid-columns: 24;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  mdlg: 864px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1640px
);

body {
  background-color: $background !important;
}

.demo-bg {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20version%3D%271.1%27%20height%3D%27100px%27%20width%3D%27100px%27%3E%3Ctext%20transform%3D%27translate(20%2C%20100)%20rotate(-45)%27%20fill%3D%27rgb(220%2C220%2C220)%27%20font-size%3D%2730%27%3EDEMO%3C%2Ftext%3E%3C%2Fsvg%3E");
  background-size: 100px 100px;
}