.sort-header {
    position: relative;

    &__button {
        &--default {
            color: #b8b8b8;
            position: absolute;
            right: -12px;
        }

        &--selected {
            position: absolute;
            right: -12px;
        }
    }
}

.pointer-cursor {
    cursor: pointer;
}

.fixed-row-size {
    width: 430px;
}

.opaque-table {
    opacity: 1;
    background-color: white;
}
