.nav-tabs {
  .nav-link {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    &:hover {
      border-color:#b5b5b5;
      background-color:white;
    }
  }

  .nav-item:last-child {
    margin-left: auto;
  }
}

/* styling for global dashboard navbar on smaller screens only */
@media only screen and (max-width : 1082px) {
  .global-dashboard {
    .nav-tabs {     
      .nav-link {
        width: 230px;
        border: 1px #dee2e6 solid;
        margin-bottom: -.05px;

        &:hover {
          border-color:#606060;
        }

        &.active {
          border: 1px #606060 solid !important;
        }

        .badge {
          float: right !important
        }
      }
    }

    .nav-item:last-child {
      margin-left: 0px;
    }
  }
}

/* styling for exposure dashboard navbar on smaller screens only */
@media only screen and (max-width : 1310px) {
  .exposure-dashboard {
    .nav-tabs {     
      .nav-link {
        width: 230px;
        border: 1px #dee2e6 solid;
        margin-bottom: -.05px;

        &:hover {
          border-color:#606060;
        }

        &.active {
          border: 1px #606060 solid !important;
        }

        .badge {
          float: right !important
        }
      }
    }
  
    .nav-item:last-child {
      margin-left: 0px;
    }
  }
}

/* styling for isolation dashboard navbar on smaller screens only */
@media only screen and (max-width : 1240px) {
  .isolation-dashboard {
    .nav-tabs {     
      .nav-link {
        width: 300px;
        border: 1px #dee2e6 solid;
        margin-bottom: -.05px;

        &:hover {
          border-color:#606060;
        }

        &.active {
          border: 1px #606060 solid !important;
        }

        .badge {
          float: right !important
        }
      }
    }
  
    .nav-item:last-child {
      margin-left: 0px;
    }
  }
}
