.react-bs-table-bordered{
  border-radius: 0px !important;
}

.col-sm-12 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.paginate_button {
  border-radius: 0 !important;
}

.page-link {
  border-radius: 0 !important;
}

.DataTables_Table_0_wrapper > .dataTables_length > .col-md-6 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.DataTables_Table_0_wrapper > .dataTables_length > .col-sm- {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.DataTable-table-header {
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
}

table.dataTable tbody td {
  vertical-align: middle !important;
}

.dt-a-w-75 {
  max-width: 75px !important;
}

.dt-a-w-50 {
  max-width: 60px !important;
}
