.react-bs-table-bordered{
  border-radius: 0px !important;
}

.paginate_button {
  border-radius: 0 !important;
}

.page-link {
  border-radius: 0 !important;
}

.DataTables_Table_0_wrapper > .dataTables_length > .col-md-6 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.DataTables_Table_0_wrapper > .dataTables_length > .col-sm- {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.DataTable-table-header {
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
}

table.dataTable tbody td {
  vertical-align: middle !important;
}

.dt-a-w-75 {
  max-width: 75px !important;
}

.dt-a-w-50 {
  max-width: 60px !important;
}

.select-checkbox {
  width: 1.75rem;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:after,
table.dataTable tbody th.select-checkbox:before,
table.dataTable tbody th.select-checkbox:after {
  top: 50% !important;
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after,
table.dataTable tr th.select-checkbox.selected::after {
  font: 90%/1.45em "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif !important;
  color: #333 !important;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
  background-color: rgba(90, 150, 194, 0.5) !important;
}

table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
  color: #226891 !important;
}

table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
	color: black !important;
}

// Select All - Add standard checkbox to header

table.dataTable thead th.select-checkbox {
  position: relative;
}

table.dataTable thead th.select-checkbox:before,
table.dataTable thead th.select-checkbox:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}

table.dataTable thead th.select-checkbox:before {
  content: ' ';
  margin-top: -6px;
  margin-left: -6px;
  border: 1px solid black;
  border-radius: 3px;
}

table.dataTable tr th.select-checkbox.selected::after  {
  content: '\2714';
  margin-top: -11px;
  margin-left: -4px;
  text-align: center;
  text-shadow: 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

div.dataTables_wrapper div.dataTables_info {
	padding-top: 0 !important;
}

button.dt-button {
  color: #fff;
	background-color: #226891;
	border-color: #226891;
}

button.dt-button:hover {
  color: #fff;
	background-color: #1b5272;
	border-color: #184a68;
}

div.dataTables_wrapper div.dataTables_info {
	margin-bottom: 8px !important;
}
