.col-sm-12 {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}

.paginate_button {
  border-radius: 0 !important;
}

.page-link {
  border-radius: 0 !important;
}

.DataTables_Table_0_wrapper > .dataTables_length > .col-md-6 {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.DataTables_Table_0_wrapper > .dataTables_length > .col-sm- {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}
