.SingleDatePickerInput {
  border: 1px solid #ced4da;
  border-radius: 0;
}

.SingleDatePickerInput_calendarIcon {
  padding-bottom: 0.8125rem;
}

.SingleDatePickerInput_clearDate {
  padding-bottom: 0.875rem;
}

.DateInput {
  width: auto;
}

.DateInput_input {
  font-weight: 400;
  font-size: 1.25rem;
}

.DateInput_input__focused {
  border-bottom-color: #226891;
}

.CalendarDay__selected {
  background: #226891;
  border: #226891;
}
