@import './constants';

.alert-warning-text {
  font-weight: 500;
  color: #212529;
}

.first-positive-lab-result-header {
  margin-bottom: 8px;
  border-bottom: 1px solid $section-border;
}

.first-positive-lab-result-title {
  display: inline;
  font-weight: 600;
}

.first-positive-lab-result-field-name {
  font-weight: 600;
}

.enrollment-common-exposure-cohorts-table-wrapper {
  margin: 0.25rem 2.25rem;
  table {
    margin-bottom: 0.5rem;
    th {
      border-bottom: 1.5px solid #dee2e6 !important;
      padding: 0.625rem;
    }
    td {
      border-bottom: 1px solid #dee2e6;
      padding: 0.625rem;
    }
  }
}

.add-new-cohort-button {
  margin: 0.75rem 2.25rem;
}
