@import './constants';

.alert-warning-text {
  font-weight: 500;
  color: #212529;
}

.first-positive-lab-result-header {
  margin-bottom: 8px;
  border-bottom: 1px solid $section-border;
}

.first-positive-lab-result-title {
  display: inline;
  font-weight: 600;
}

.first-positive-lab-result-field-name {
  font-weight: 600;
}

.common-exposure-cohort-table-wrapper {
  margin: 1rem 2.25rem;
}

.add-new-cohort-button {
  margin: 0.25rem 2.25rem 1.25rem;
}
