.pr-50 {
  padding-right: 50px !important;
}

.mb-25{
  margin-bottom: 25px !important;
}

.mt-25{
  margin-top: 25px !important;
}

.ml-15 {
  margin-left: 15px;
}

.flag-radio-buttons{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  display: inline-flex
}
