.white-border-right {
  border-right: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapse-hover {
  cursor: grab;
}

.tooltip-container {
  width: 300px;
}

.reports-container {
  #DataTables_Table_0_wrapper {
    .row {
      .col-sm-24 {
        width:100% !important;
        max-width:100% !important;
        overflow-x: scroll !important;
      }
    }
  }
}
