.white-border-right {
  border-right: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapse-hover {
  cursor: grab;
}

.tooltip-container {
  width: 300px;
}

.tooltip-whitespace {
  white-space: normal !important;
}

.character-limit-text {
  width: 100%;
  font-size: 10px;
  color: dimgray;
  font-style: italic;
  text-align: right;
}

.header-brand-text {
  font-size: 20px !important;
}
