.white-border-right {
  border-right: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collapse-hover {
  cursor: grab;
}

.tooltip-container {
  width: 300px;
}

.tooltip-whitespace {
  white-space: normal !important;
}

.notes-character-limit {
  font-size: 10px;
  color: dimgray;
  font-style: italic;
  float: right;
}

.header-brand-text {
  font-size: 20px !important;
}

.jurisdiction-user-box {
  float: right;
  background-color: #e9ecef;
  padding: 3px 8px;
}
