.auth-container {
  position: fixed;
  width: 90%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
