$jurisdiction-box: #e9ecef;
$section-border: #ddd;

#monitoree-details-header {
  margin-bottom: 15px;
}

.jurisdiction-user-box {
  background-color: $jurisdiction-box;
  padding: 10px;
  float: right;
}

.section-header {
  margin-bottom: 12px;
  border-bottom: 1px solid $section-border;
}

.section-title {
  display: inline;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.subsection-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.edit-link {
  float: right;
  font-size: 0.9rem;
}

.details-expander {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px
}

#details-expander-link:focus,
#details-expander-link:active,
.notes-button:focus,
.notes-button:active {
  outline: none !important;
  box-shadow: none;
}

.details-expander .dashed-line {
  margin-left: 5px;
  border-bottom: 1px dashed #bbb;
  flex-grow: 1;
}

.item-group, .notes-section {
  margin-bottom: 1rem;
}

.none-text {
  color: dimgray;
  margin-bottom: 1rem;
}

.risk-factors li {
  margin-bottom: 0.5em;
  list-style-type: square;
  color: red;
}

.risk-factor {
  display: block;
  font-weight: bold;
  color: black;
}

.risk-val {
  color: black;
}

.household-info {
  padding: 5px 15px 0px;
}

.chevron-opened {
  transform: rotate(-90deg);
  transition: transform .3s;
}

.chevron-closed {
  transform: rotate(90deg);
  transition: transform .3s;
}
