@import './constants';

.badge-hoh {
  vertical-align: top !important;
}

.patient-card-header {
  font-size: 1.25rem;
}

.jurisdiction-user-box {
  background-color: $jurisdiction-box;
  padding: 10px;
}

.section-header {
  margin-bottom: 12px;
  border-bottom: 1px solid $section-border;
}

.section-title {
  display: inline;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.secondary-title {
  font-size: 1.75rem;
}

.tertiary-title {
  font-size: 1.5rem;
}

.subsection-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.edit-link {
  float: right;
  font-size: 0.9rem;
}

.details-expander {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#details-expander-link:focus,
#details-expander-link:active,
.notes-button:focus,
.notes-button:active {
  outline: none !important;
  box-shadow: none;
}

.details-expander .dashed-line {
  margin-left: 5px;
  border-bottom: 1px dashed #bbb;
  flex-grow: 1;
}

.item-group, .notes-section {
  margin-bottom: 1rem;
}

.small-text {
  font-size: 0.9rem;
}

.none-text {
  color: dimgray;
  margin-bottom: 1rem;
}

.risk-factors li {
  margin-bottom: 0.5em;
  list-style-type: square;
  color: $brand-danger;
}

.risk-factor {
  display: block;
  font-weight: bold;
  color: black;
}

.risk-val {
  color: black;
}

.household-info {
  padding: 5px 15px 0px;
}

.chevron-opened {
  transform: rotate(-90deg);
  transition: transform .3s;
}

.chevron-closed {
  transform: rotate(90deg);
  transition: transform .3s;
}

.reports-actions-title {
  height: 30px !important;
}

.edit-text {
  color: #707070 !important;
  font-size: .9em;
}

.follow-up-flag-box {
  background-color: $follow-up-box;
  border: 2px solid $follow-up-box-border;
  float: left;
  color: #404040;
}

.flag-note {
  font-size: .95rem;
}
