name: Static Analysis

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '13.x'
      - name: Install Bundler
        run: gem install bundler
      - name: Install Yarn
        run: npm install yarn
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Run Yarn Install
        run: yarn install --ignore-engines
      - uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Run Bundle Install
        run: |
          bundle config path vendor/bundle
          bundle install
      - name: Run Gemsurance
        run: bundle exec gemsurance
      - name: Run Brakeman
        run: bundle exec brakeman -qAzw1
      - name: Run Rubocop
        run: bundle exec rubocop
      - name: Run ERB Lint
        run: bundle exec erblint --lint-all
      - name: Run ESLint
        run: ./node_modules/.bin/eslint app/javascript/components

