<nav class="navbar navbar-expand-lg bg-primary mb-3" >
  <a class="navbar-brand text-white">
    SARA Alert
  </a>
  <% unless current_user.nil? %>
    <form class="form-inline ml-auto">
      <a class="nav-link night-nav-link text-white"><i class="fas fa-user"></i>&nbsp;&nbsp;<%= current_user.email %></a>
      <a class="white-border-right"></a>
      <a class="nav-link night-nav-link text-white" href="<%= destroy_user_session_path %>" data-method="DELETE"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a>
    </form>
  <% end %>
</nav>
